@media (prefers-color-scheme: dark) {

	/* basics */
	html {
		background: #19191b;
	}
	
	body {
		background: #19191b;
    	color: #c3c3c3;
	}
	a {
		color: #67b0f1;
	}
	pre {
		background-color: #282923;
		color: #f8f8f2;
	}
	code {
		background-color: #282923;
		color: #f8f8f2;
	}
	h1, h2, h3, h4, h5, h6 {
        color: #c5c5c5;
    }
    img {
		filter: brightness(80%);
	}

	/* header */
	#header {
		background-color: #292929;
		color: #8f8f8f;
	}
		#header h1 {
			color: #8f8f8f;
		}
		#header h1 a {
			color: #8f8f8f;
		}
		#header nav > ul > li a {
			color: #8f8f8f;
		}
		@media (min-width: 981px) {
			.dropdownContent {
				background-color: #292929;
			}
				.dropdownContent li:hover {
					background-color: #313131;
				}
		}

	/* footer */
	#footer {
		background-color: #1f1f1f;
		color: #949799;
	}
		#footer .copyright {
			color: #676d73;
		}

	/* Home page wrappers */
	.wrapper.style1 {
	    background: #19191b;
	    color: #c3c3c3;
	}
	.wrapper.style2 {
	    background: #1d2223;
	    color: #c3c3c3;
	}
		.wrapper.style2 h2 {
			color: #c5c5c5;
		}

	.wrapper.style1 section.special.box:hover {
		background: #202427;
	}
	.wrapper.style2 section.special.box:hover {
		background: #202427;
	}

	.style2 .recommLinks a {
		color: #c3c3c3;
	}
	.style1 .recommLinks a {
		color: #c3c3c3;
	}
	.style2 img.svgIcon {
		filter: invert(89%) sepia(12%) saturate(4%) hue-rotate(348deg) brightness(84%) contrast(97%);
	}
	.style1 img.svgIcon {
		filter: invert(89%) sepia(12%) saturate(4%) hue-rotate(348deg) brightness(84%) contrast(97%);
	}
	/* home page banner */
	#banner h2 {
		color: #d6d6d6;
	}
	#banner p {
		color: #c5c5c5;
	}

	/* content page */
	.content ul li{
		border: solid 1px #1c1d1f;
	}
		.content ul li:hover {
			background: #252629;
		}
		.content ul li:nth-child(odd) {
			background-color: #1c1d1f;
		}
			.content ul li:nth-child(odd):hover {
				background-color: #252629;
			}
	.content-top input[type="month"] {
		background-color: #2a2c2f;
		color: #c3c3c3;
		border: none;
	}


	.button {
		background-color: #193d58;
	}

	.post img {
		box-shadow: none;
		border: solid 5px rgba(66, 68, 72, 0.5);
	}

	nav#content-nav ul li:hover {
		background-color: #313131;
	}
	nav#content-nav ul li a {
		color: #c3c3c3;
	}

}



