/* Breakers for light mode */
.kn, .kd, .k, .ow, .na, .si, .sa, .se { /*import; def,class; for in */
	color: #bd6abd;
}
.sa, .kd, .na {
	font-style: italic;
}
.o, .bp, .nt, .sr { /* "=" ; self */
	color: #f56a42;
}
.bp {
	font-style: italic;
}
.sd, .c1, .c, .cp { /* all comment */
	color: #ababab;		
}
.nf, .nci, .srb {
	color: #20b3b3;
}
.nci {
	font-style: italic;
}
.ka, .nc, .mi, .mf {
	color: #ff8200
}
.nb, .nd, .kt { /* builtin, "@property", type */
	color: #3b73ab;
	font-style: italic;
}
.p { /* "," */
	color: #a0573c;
}
.s, .s1, .s2 { /* str */
	color: #41a936;
}
.fm { /* __init__ */
	color: #3a72ab;
	font-style: italic;
}


/* Monokai for dark mode */
@media (prefers-color-scheme: dark) {
	.n, .nn, .p, .vm, .go, .nv { /* normal names */
		color: #f8f8f2; /* white */
		font-style: unset;
	}
	.k, .kn, .o, .ow, .sr, .nt, .gr { /* normal keyword; "import", "as"; operator.word; special regex */
		color: #f92b50; /* red */
		font-style: unset;
	}
	.gr {
		font-style: italic;
	}
	.kd, .kt, .ne, .sa, .kl, .gt {/* "class" and "def"; type; exception; r''; lambda */
		color: #67d8da; /* blue */
		font-style: italic
	}
	.nd, .nb, .nfc, .fm { /* decorator; builtins; function called */
	 	color: #67d8da; /* blue */
	 	font-style: unset;
	 }
	.sd, .c1, .c, .cp, .gp { /* hash comment */
		color: #747053; /* grey */
		font-style: unset;
	}
	.m, .mi, .mf, .kc, .se, .si, .srb { /* integers, floats, constant keyword, string.escape */
		color: #ac80ff; /* purple */
		font-style: unset;
	}
	.s, .s1, .s2 { /* str */
		color: #e7db74; /* yellow */
		font-style: unset;
	}
	.n.n-File {
		color: #e7db74; /* yellow */	
		font-style: unset;
	}
	.bp, .ka { /* "self", keyword arguments */
		color: #fd7e2f; /* orange */
		font-style: italic;
	}
	.nc, .nf, .na { /* name of class; function; htmlTagAttribute */
		color: #a6e22f; /* green */
		font-style: unset;
	}
	.nci {
		color: #a6e22f; /* green */
		font-style: italic;
	}
	.err {
		background: #f92b50;
		color: #f8f8f2;
		font-style: unset;
	}
}