/* Breakers */
.k, .kn, .ow, .na, .kd { /* "import", "as", ... */
	color: #bd6abd;
}
.k, .kd { /* class, def */
	font-style: italic;
}
.o { /* "=" */
	color: #f56a42;
}
.sd { /* triple quote comment */
	color: #74ae49;
}
.c1, .c { /* hash comment */
	color: #ababab;		
}
.mi, .mf { /* integers, floats */
	color: #c14700;
}
.nb, .nd { /* callables, "@property" */
	color: #3b73ab;
	font-style: italic;
}
.p { /* "," */
	color: #a0573c;
}
.s, .s1, .s2, .si { /* str */
	color: #41a936;
}
.bp, .nt { /* "self", htmlTag */
	color: #ec6066;
}
.nc { /* name of class */
	color: #da8727;
	}
.fm { /* __init__ */
	color: #3a72ab;
}
.nf { /* name of function */
	color: #20b3b3;
}
.sa { /* f"" */ 
	color: #bd6abd;
	font-style: italic;
}

/* Monokai for dark mode*/
@media (prefers-color-scheme: dark) {
	.n, .p { /* normal names */
		color: #f8f8f2;
	}
	.kn, .ow { /* "import", "as", ... */
		color: #f92b50;
		font-weight: bold;
	}
	.k, .nb, .nd, .kd { /* class, def */
		color: #67d8da;
		font-style: italic
	}
	.kc {
		color: #67d8da;
	}
	.o, .nt { /* "=" ; htmlTag; $*/
		color: #f92472;
	}
	.sd, .c1, .err, .c { /* hash comment */
		color: #747053;
	}
	.mi, .mf { /* integers, floats */
		color: #ac80ff;
	}
	.nb, .nd { /* callables; "@property" */
		font-style: italic;
	}
	.s, .s1, .s2, .si { /* str */
		color: #e7db74;
	}
	.bp { /* "self" */
		color: #fd7e2f;
	}
	.nc, .nf, .na { /* name of class; function; htmlTagAttribute */
		color: #a6e22f;
 	}
	.fm, .sa { /* __init__ */
		color: #67d8da;
	}
	.sa { /* f"" */ 
		font-style: italic;
	}
}