.pln {
	color: #000;
}
@media screen {
	.str {
		color: #ac4742;
	}
	.kwd {
		color: #3f7acf;
	}
	.com {
		color: #74ae49;
	}
	.typ {
		color: #57bcc5;
	}
	.lit {
		color: rgba(140, 128, 232, 1);
	}
	.pun, .opn, .clo {
		color: #240e0a;
	}
	.tag {
		color:#008
	}
	.atn {
		color:#606
	}
	.atv {
		color:#080
	}
	.dec, .var {
		color:#606
	}
	.fun {
		color:red
	}
}
@media print, projection {
	.str {
		color: #ac4742;
	}
	.kwd {
		color: #3f7acf;
		font-weight:bold
	}
	.com {
		color: #74ae49;
		font-style:italic}
	.typ {
		color: #57bcc5;
		font-weight:bold
	}
	.lit {
		color: rgba(140, 128, 232, 1);
	}
	.pun, .opn, .clo {
		color: #240e0a;
	}
	.tag {
		color:#006;
		font-weight:bold
	}
	.atn {
		color:#404
	}
	.atv {
		color:#060
	}
}
ol.linenums {
	margin-top:0;
	margin-bottom:0
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type:none
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
	background:#eee
}